/App/logs/favorito/*
!/App/logs/favorito

/App/logs/pedido/*
!/App/logs/pedido

/App/logs/produto/*
!/App/logs/produto

/App/logs/user/*
!/App/logs/user

/Public/assets/product/*
!/Public/assets/product

/Public/assets/product-recommended/*
!/Public/assets/product-recommended

/Public/assets/user/*
!/Public/assets/user

