* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 800px;
    background-color: #f5f5f5;
}

header {
    position: fixed;
    width: 100%;
    background-color: #fff;
}

footer {
    width: 100%;
    background-color: #fff;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.logo img {
    width: 45%;
}

.logo a {
    text-decoration: none;
    color: #000;
    margin-right: 25%;
}

.user {
    width: 10%;
}

.user p {
    margin-left: 10%;
}

.dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 80px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 80px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropdown p {
    cursor: pointer;
}

.container-main-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8em;
    width: 100%;
    height: auto;
}

.container-cadastro-usuario {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-cadastro-header-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.container-cadastro-header-usuario h1 {
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
}
.container-cadastro-body-usuario h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
.container-cadastro-body-usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-cadastro-body-usuario input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-cadastro-body-usuario button {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-cadastro-body-usuario button:hover {
    background-color: #fff;
    color: #000;
}

.container-main-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8em;
    width: 100%;
    height: auto;
}

.container-cadastro-produto {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-cadastro-header-produto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.container-cadastro-header-produto h1 {
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
}

.container-cadastro-body-produto h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.container-cadastro-body-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-cadastro-body-produto input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-cadastro-body-produto button {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-cadastro-body-produto button:hover {
    background-color: #fff;
    color: #000;
}

.campos {
    display: none;
    color: red;
    font-size: 18px;
}

.container-cadastro-body-produto label {
    margin-top: 10px;
    width: 100%;
}

.container-cadastro-body-produto select {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.confirmar {
    display: none;
    color: red;
    font-size: 18px;
}

.btn {
    display: flex;
    justify-content: space-between;
}
.btn button {
    width: 150px;
}


.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer-copy {
    margin-left: 5%;
    width: 25%;
}

.footer-copy p {
    color: #000;
    font-size: 15px;
}

.footer-logo {
    width: 20%;
}

.footer-logo img {
    width: 100%;
}

.footer-a {
    width: 30%;
}

.footer-a a {
    color: #000;
    font-size: 15px;
    margin-left: 60%;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .container-main {
        padding: 7em 2em 5em 7em;
    }
}