* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    height: auto;
    min-height: 800px;
    background-color: #f5f5f5;
}

header {
    position: fixed;
    width: 100%;
    background-color: #fff;
}

footer {
    width: 100%;
    background-color: #fff;
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.logo img {
    width: 45%;
}

.logo a {
    text-decoration: none;
    color: #000;
    margin-right: 25%;
}

.search {
    width: 40%;
    margin-left: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    background-color: #f5f5f5;
}

.search button {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 20px 20px 0;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.cart #cart {
    width: 35px;
    height: 35px;
    cursor: pointer;
} 

.cart #favorite {
    width: 35px;
    height: 35px;
    margin-left: 80%;
    margin-right: 10px;
    cursor: pointer;
}
#openCart {
    width: 400px;
    height: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border: 0.5px solid #c7c7c7;
    position: fixed;
    right: -405px;
    top: 0;
    bottom: 0;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  .showCart {
    transform: translateX(-405px);
    transition-duration: 0.6s;
    
  }

  .closeCart {
    transform: translateX(0%);
    transition-duration: 0.6s;
  }


  .container-cart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .cart-button_toggle {
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #303030;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }

  .cart-button_toggle button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .cart-header {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #c7c7c7;
    background-color: #303030;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }

  .cart-header p {
    color: #ffffff;
    font-size: 1.5em;
  }

  .cart-body {
    width: 100%;
    height: 66%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    
    /* overflow-y: scroll; */
  }

  .cart-body .cart-body_content {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
  }

  .cart-body .cart-body_footer {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #c7c7c7;
    padding-top: 1em;
  }

  .cart-body .cart-footer-total {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0px 1px
  }

  .cart-body .cart-footer-price {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0px 1px
  }

  .cart-options {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #c7c7c7;
  }

  .cart-options button {
    background-color: #1c1c1e;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px 30px;
  }

  #openFav {
    width: 400px;
    height: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border: 0.5px solid #c7c7c7;
    position: fixed;
    right: -405px;
    top: 0;
    bottom: 0;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.showFav {
    transform: translateX(-405px);
    transition-duration: 0.6s;
    
}

.closeFav {
    transform: translateX(0%);
    transition-duration: 0.6s;
}

.user {
    width: 10%;
}

.user p {
    margin-left: 10%;
    cursor: pointer;
}

.badge-quantity {
    position: absolute;
    width: 25px;
    height: 25px;
    top: -30%;
    left: 165%;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-size: 12px;
}

.user button {
    width: 70%;
    padding: 8px;
    margin-left: 30px;
    border-radius: 15px;
    border: none;
    background-color: #000;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 7em 5em 5em 5em;
}

.container-carrousel-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
    
}
.carousel-wrapper {
    width: 520px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.12);
    border-radius: 20px;
}
.carousel-container {
    width: 400px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}
.carousel-container h1 {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 20px;
}
.carousel {
    display: flex;
    width: 1200px;
    margin-left: 6%;
    animation: sliding 12s infinite;
    position: relative;
    left: 15px
}
.carousel div {
    width: 400px;
    height: 250px;
    background-size: cover;
    background-position: center;
}
.carousel:hover {
    animation-play-state: paused;
}
@keyframes sliding {
    30% {
        transform: translateX(0);
    }
    35% {
        transform: translateX(-400px);
    }
    65% {
        transform: translateX(-400px);
    }
    70% {
        transform: translateX(-800px);
    }
    98% {
        transform: translateX(-800px);
    }
    100% {
        transform: translateX(0);
    }
}
@media screen and (max-width: 768px) {
    .carousel-wrapper {
        width: 312px;
        height: 210px;
    }
    .carousel-container {
        width: 240px;
        height: 150px;
    }
    .carousel {
        width: 720px;
    }
    .carousel > div {
        width: 240px;
        height: 150px;
    }
    @keyframes sliding {
        30% {
            transform: translateX(0);
        }
        35% {
            transform: translateX(-240px);
        }
        65% {
            transform: translateX(-240px);
        }
        70% {
            transform: translateX(-480px);
        }
        98% {
            transform: translateX(-480px);
        }
        100% {
            transform: translateX(0);
        }
    }
}

.product {
    width: 250px;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.product-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 150px;
    border-radius: 8px 8px 8px 8px ;
    /* margin: 0 auto; */
}

.dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 80px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 80px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropdown p {
    cursor: pointer;
}

.product-incorret {
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
  }

  .product-incorret p {
    font-size: 30px;
    font-weight: 600;
    color: #000;
  }



.product-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 8px 8px ;
    object-fit: cover;
}

.hearthFav {
    width: 30px;
    height: 30px;
    margin-left: 90%;
}

.heartFull {
    width: 30px;
    height: 30px;
    margin-left: 90%;
}

.product-name {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.product-name h3 {
    width: 100%;
    height: auto;
    color: #000;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
}

.product-description {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.product-description p {
    width: 100%;
    color: #7c7c7c;
    font-size: 13px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
}

.product-price {
    width: 100%;
    height: auto;
    margin: 20px 0px 15px 0px;
}

.product-price h3 {
    color: #000;
    font-size: 25px;
    font-weight: 500;
}

.product-quantity {
    display: flex;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-quantity .change{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    height: 40px;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    margin: 0px;
}

.product-quantity .min {
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #000;
}

.product-quantity .max {
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #000;
}
.product-quantity button{
    width: 68%;
    height: 40px;
    background-color: #000;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-quantity input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    /* border: 1px solid #ccc; */
    text-align: center;
    background-color: transparent;
    border: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

.product-btn {
    width: 100%;
    margin-top: 10px;
}

.product-btn button {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
    height: auto;
}	

.product-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.product-page_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2em;
}
.product-page_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.product-page_left__mainImage{
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
}
.product-page_left__mainImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.product-page_left__secondaryImages{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 15%;
}
.product-page_left__secondaryImages img{
    width: auto;
    height: 100%;
    margin: 0 5px;
    cursor: pointer;
    border: 1.55px solid #ccc;
    border-radius: 4px;
}
.product-page_right{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    padding: 0 0 0 3em;
}
.product-page_right__container{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr ;
}
.product-page_right__text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    height: 100%;
    text-align: left;
}
.product-page_right__text span{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}
.product-page_right__text p {
    font-size: 0.90em;
    font-weight: 500;
    color: #1c1c1ead;
    display: -webkit-flex;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    word-break: break-all;
}
.product-page_right__text h1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
}
.cart-footer-price input {
    border: none;
    background: none;
    outline: none;
    font-size: 1rem;
    color: #000000;
    margin-left: 5px;
}
.product-page__price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
}
.product-page__price p{
    font-size: 2.5em;
    font-weight: 500;
    color: #1c1c1e;
    margin: 0;
    letter-spacing: -1.8px;
    font-family: 'Roboto Condensed', sans-serif;
}
.product-page__button{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}
.product-page__button .product-quantity {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-page__button .product-quantity .change{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    height: 50px;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    margin: 0px;
}

.product-page__button .product-quantity .min {
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #000;
}

.product-page__button  .product-quantity .max {
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #000;
}
.product-page__button .product-quantity button{
    width: 68%;
    height: 50px;
    background-color: #000;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-page__button  .product-quantity input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    /* border: 1px solid #ccc; */
    text-align: center;
    background-color: transparent;
    border: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}


.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer-copy {
    margin-left: 5%;
    width: 25%;
}

.footer-copy p {
    color: #000;
    font-size: 15px;
}

.footer-logo {
    width: 20%;
}

.footer-logo img {
    width: 100%;
}

.footer-a {
    width: 30%;
}

.footer-a a {
    color: #000;
    font-size: 15px;
    margin-left: 60%;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .container-main {
        padding: 7em 2em 5em 7em;
    }
}